body
{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0072ff, #ff0058);
  width: 100%;
  min-height: 100vh;
  overflow: hidden;

  /***** Este codigo comentado nos permite *****/
  /***** cambiar el color de fondo         *****/

  /*animation-name: backg;
  animation-duration: 15s;
  animation-iteration-count: infinite;*/
}

/***** Creamos el triangulo cristalino *****/
section
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transform: perspective(1000px);
}
section:before
{
  position: absolute;
  content: "";
  top: 10vh;
  left: 0;
  border-top: 100vh solid transparent;
  border-left: 100vh solid white;
  opacity: 0.1;
}

/****** Clase para el efecto del titulo ******/
.title
{
  color: white;
  animation-fill-mode: forwards;
  animation-name: titulo;
  animation-duration: 5s;
}

/***** Clase para los efectos de la lista *****/
.list1
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 5s;
  animation-duration: 5s;
}
.list2
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 7s;
  animation-duration: 5s;
}
.list3
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 9s;
  animation-duration: 5s;
}
.list4
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 11s;
  animation-duration: 5s;
}

/***** Efecto del titulo *****/
@keyframes titulo {
  0% {margin-top: -20%}
  75% {margin-top:25%}
  100% {margin-top: 20%}
}

/***** Efecto de la lista *****/
@keyframes list {
  0% {opacity: 0}
  100%{opacity: 1}
}

/***** Efecto para cambiar el color *****/
@keyframes backg {
  0% {background-color: #0072ff}
  50% {background-color: #ff0058}
  100% {background-color: #0072ff}
}
