body{
  background: linear-gradient(to right, #0072ff, #ff0058);
  background-size: auto;
  overflow: hidden;

  /***** Este codigo comentado nos permite *****/
  /***** cambiar el color de fondo         *****/

  /*animation-name: backg;
  animation-duration: 15s;
  animation-iteration-count: infinite;*/
}
/*Cuando la resolución sea propia de un móvil se puede hacer overflow*/
@media only screen and (max-width: 600px) {
  body {
    overflow: visible;
  }
}

.btn-outline-primary{
  border-color: #92dce5;
  color: #92dce5;
}

.btn-outline-primary:hover{
  background-color: #1b5299;
  border-color: #1b5299;
}

#boton_registro{
  position: absolute;
  bottom: 7vh;
}


/***** Creamos el triangulo cristalino *****/
section
{
  top: 20vh;
  position: absolute;
  height: 100%;
  width: 100%;
  background: white;

  opacity: 0.1;

  clip-path: polygon(0% 0, 0 100%, 100% 100%);
}

/****** Clase para el efecto del titulo ******/
.title
{
  font-size: 100px;
  color: white;
  animation-fill-mode: forwards;
  animation-name: titulo;
  animation-duration: 5s;
  -webkit-text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.68);
  -moz-text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.68);
  text-shadow: 3px 3px 8px rgba(0, 0, 0, 0.68);
}

/***** Clase para los efectos de la lista *****/
.list1
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 5s;
  animation-duration: 5s;
}
.list2
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 7s;
  animation-duration: 5s;
}
.list3
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 9s;
  animation-duration: 5s;
}
.list4
{
  color: white;
  animation-fill-mode: both;
  animation-name: list;
  animation-delay: 11s;
  animation-duration: 5s;
}
.list{
  font-size: 20px;
  list-style-type: none;
}

/***** Efecto del titulo *****/
@keyframes titulo {
  0% {margin-top: -20%}
  75% {margin-top:15%}
  100% {margin-top: 10%}
}

/***** Efecto de la lista *****/
@keyframes list {
  0% {opacity: 0}
  100%{opacity: 1}
}

/***** Efecto para cambiar el color *****/
@keyframes backg {
  0% {background-color: #0072ff}
  50% {background-color: #ff0058}
  100% {background-color: #0072ff}
}

.col-rounded{
    border-radius: 10px;
}

.fondo{
  background-color: black;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.efecto {
  position: absolute;
  top: 35vh;
  vertical-align: middle;
  float: none;
  border-top: 16px solid #0072ff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
