.spacer{
    margin-right: 5px;
    margin-left: 5px;
}
body{
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
    background-color: #a2ebff;
}
.col-rounded{
    border-radius: 10px;
}
.col-border{
    border-color: black;
    border-width: 5px;
}
.fondo{
    background-color: black;
    position: absolute;
    z-index: 1000;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .efecto {
    position: absolute;
    top: 35vh;
    vertical-align: middle;
    float: none;
    border-top: 16px solid #0072ff; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  