.no-image-background{
  background: linear-gradient(to right, #0072ff, #ff0058);
  background-size: auto;
}

.image-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}

section
{
  top: 20vh;
  position: fixed;
  height: 120vh;
  width: 50vh;
  background: white;

  opacity: 0.1;

  clip-path: polygon(0vh 0, 0 100vh, 100vh 100vh);
}

.col-rounded{
    border-radius: 10px;
}