body{
  background: linear-gradient(to right, #0072ff, #ff0058);
  background-size: auto;
}

/*section
{
  top: 20vh;
  position: fixed;
  height: 90vh;
  width: 50vh;
  background: white;

  opacity: 0.1;

  clip-path: polygon(0vh 0, 0 100vh, 100vh 100vh);
}*/

.col-rounded{
    border-radius: 2vh;
}

.my-custom-scrollbar {
  position: relative;
  height: 30vh;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.bg-table{
  background-color: #e4e4e4
}
