body{
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #0072ff, #ff0058);
  width: 120vh;
  min-height: 100vh;
  overflow: hidden;
}
section
{
  top: 20vh;
  position: fixed;
  height: 80vh;
  width: 50vh;
  background: white;

  opacity: 0.1;

  clip-path: polygon(0vh 0, 0 100vh, 100vh 100vh);
}
.spacer{
    margin-right: 5px;
    margin-left: 5px;
}.col-rounded{
    border-radius: 10px;
}
.col-border{
    border-color: black;
    border-width: 5px;
}
