/* Breakpoint XS */
@media (max-width: 575px)
{
    .hidden-xs-down, .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, 
    .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    }

}

/* Breakpoint SM */
@media (min-width: 576px) and (max-width: 767px)
{
    .hidden-sm-down, .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, 
    .hidden-unless-xs, .hidden-unless-md, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint MD */
@media (min-width: 768px) and (max-width: 991px)
{
    .hidden-md-down, .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-lg, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint LG */
@media (min-width: 992px) and (max-width: 1199px)
{
    .hidden-lg-down, .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-xl
    {
        display: none !important;
    } 
}

/* Breakpoint XL */
@media (min-width: 1200px)
{
    .hidden-xl-down, 
    .hidden-xs-up, .hidden-sm-up, .hidden-md-up, .hidden-lg-up, .hidden-xl-up, 
    .hidden-unless-xs, .hidden-unless-sm, .hidden-unless-md, .hidden-unless-lg
    {
        display: none !important;
    } 
}


.no-image-background{
  background: linear-gradient(to right, #0072ff, #ff0058);
  background-size: auto;
}

.image-background{
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
}
.encabezado-background{
  background-repeat: no-repeat;
  background-size: 101% 101%;
  min-height: 40vh
}

section
{
  top: 20vh;
  position: fixed;
  height: 120vh;
  width: 50vh;
  background: white;

  opacity: 0.1;

  clip-path: polygon(0vh 0, 0 100vh, 100vh 100vh);
}

.spacer{
  margin-right: 5px;
  margin-left: 5px;
}
.col-rounded{
  border-radius: 10px;
}
.col-border{
  border: 1px solid black;
}
.fotoComun{
  width: 100%;
  height: 30vh;
  object-fit: cover;
  margin: auto;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.rounded-top{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/*********************peticiones***********************/
.my-custom-scrollbar {
  position: relative;
  height: 30vh;
  overflow: auto;
}
.table-wrapper-scroll-y {
  display: block;
}
.bg-table{
  background-color: #e4e4e4
}

.fondo{
  background-color: black;
  position: absolute;
  z-index: 1000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.efecto {
  position: absolute;
  top: 35vh;
  vertical-align: middle;
  float: none;
  border-top: 16px solid #0072ff; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}